<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Football Pool 2019</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <div class="nav-link">@Html.ActionLink("Home", "Index", "Home", null, new { @class = "navLink" })<span class="sr-only">(current)</span></div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">@Html.ActionLink("View Games", "Index", "GameDataModel", null, new { @class = "navLink" })</div>
                    </li>
                    <li class="nav-item">
                        <div class="nav-link">@Html.ActionLink("Login", "Index", "Login", null, new { @class = "navLink" })</div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
  
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Weekly Football Pool</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
